body {
    background-color: rgb(28, 30, 31); background-image: url("blackkeyboard.jpg")

}

h1 {
    color:floralwhite; text-align: center;
}

h2 {
    color: white; text-align: center; margin-bottom: 100px;
}