body {
    background-color:black; 
    color:white; 
    font-family:cursive; 
    font-family: Gill Sans;
}

h1 {
    text-align: center;
}

#resume {
    color: rgb(240, 243, 247);
    font-size: 25px;

}
h2 {
    font-size: 50px; text-align: center; margin-bottom: 0%; color: black;
}

p  {text-align: center; font-size: 20px; color: white;
}

.nav-links a {
    background-color: white;
    color:black;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 50%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

h4 {
    text-align: center;
    font-size: 35px;   
    color: black;
    text-decoration: none;

    }
div {
    background-color: black
}

a:link {
    text-decoration: none;
}

hr {
    color: white;
}

.column {
    float: none;
    padding: 50px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
    margin-left: 200px;
  }
  
  